user www-data; 
worker_processes auto; 
pid /run/nginx.pid; 
include /etc/nginx/modules-enabled/*.conf; 
 
events { 
        worker_connections 768; 
        # multi_accept on; 
}

stream {
  upstream webservers {
    server 10.1.0.197:161;
    server 10.1.0.195:161;
    server 10.1.0.199:161;
  }

  upstream backend_servers {
    server 10.1.0.197:5000;
    server 10.1.0.195:5000;
    server 10.1.0.199:5000;
  }

  server {
    listen 1611 udp;
    proxy_pass webservers;
    proxy_responses 0;
    
  }
  server {
    listen 5000;
    proxy_pass backend_servers;
    proxy_responses 0;
}
